<span class="v1"></span>
<span class="v2"></span>
<span class="tittle">{{'subheader.contactUs' | translate}}</span>

<!--<span class="nameField"></span> -->
<form class="nameField">
    <mat-form-field appearance="legacy" style="height:59px; width:429px;">
      <mat-label class="label">Nombre y Apellidos</mat-label>

      <input type="text" class="label" matInput>
    </mat-form-field>
</form>
<form class="phoneField">
    <mat-form-field appearance="legacy" style="height:59px; width:429px;">
        <mat-label class="label">Telefono</mat-label>
        <input type="text" class="label" matInput>
    </mat-form-field>
</form>
<form class="emailField">
    <mat-form-field appearance="legacy" style="height:59px; width:429px;">
        <mat-label class="label">Correo Electronico</mat-label>
        <input type="text" class="label" matInput>
    </mat-form-field>
</form>

<form class="msgField">
    <mat-form-field appearance="legacy" style="width:429px; height: 210px;"> 
        <!--<mat-label>
            <span class="label1" style="padding: 1em 5em 1em 1em;">Mensaje</span>
        </mat-label>-->
        <textarea matInput type="text" class="label1" style="height: 210px; padding-top: 5px;">Mensaje</textarea>
    </mat-form-field>    
</form>

<button mat-button class="b">
    <span class="send">ENVIAR</span>
</button>