<div fxLayout="column" fxLayoutAlign="space-between stretch" >

    <div>
        <span>Holalalalal</span>
    </div>


</div>
<span class="rectangle"> </span>

<span class="v1"></span>
<span class="v2"></span>

<span class="tittle1">{{'subheader.legalServices' | translate}}</span>
<span class="tittle2">{{'base.links' | translate}}</span>

<span class="s1">{{'services.legalAssistance' | translate}}</span>
<span class="s2">{{'services.notarial' | translate}}</span>
<span class="s3">{{'services.docImmigration' | translate}}</span>

<span class="l1">{{'base.gaceta' | translate}}</span>
<span class="l2">{{'base.gaceta' | translate}}</span>
<span class="l3">{{'base.gaceta' | translate}}</span>
<span class="l4">{{'base.gaceta' | translate}}</span>
<span class="l5">{{'base.gaceta' | translate}}</span>
<span class="l6">{{'base.gaceta' | translate}}</span>
<span class="l7">{{'base.gaceta' | translate}}</span>
<span class="l8">{{'base.gaceta' | translate}}</span>

<mat-toolbar class="menu1">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">
        <div>
            <button mat-button routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">
                <span class="item">
                    {{"login.register" | translate}}
                </span>
            </button>
        </div>
        <div>
            <span class="v3">|</span>
        </div>
        <div>
            <button mat-button routerLink="/allNews" routerLinkActive="active" ariaCurrentWhenActive="page">
                <span class="item">
                    {{"subheader.news" | translate}}
                </span>
            </button>
        </div>
        <div>
            <span class="v3">|</span>
        </div>
        <div>
            <button mat-button>
                <span class="item">
                    {{"base.stadistics" | translate}}
                </span>
            </button>
        </div>
        <div>
            <span class="v3">|</span>
        </div>
        <div>
            <button mat-button>
                <span class="item">
                    {{"services.onlineS" | translate}}
                </span>
            </button>
        </div>
        <div>
            <span class="v3">|</span>
        </div>
        <div>
            <button mat-button>
                <span class="item">
                    {{"subheader.aboutUs" | translate}}
                </span>
            </button>
        </div>
        <div>
            <span class="v3">|</span>
        </div>
        <div>
            <button mat-button>
                <span class="item">
                    {{"subheader.branchs" | translate}}
                </span>
            </button>
        </div>
        <div>
            <span class="v3">|</span>
        </div>
        <div>
            <button mat-button>
                <span class="item">
                    {{"questions.tittle" | translate}}
                </span>
        </button>

        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class="menu2">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">
        <div>
            <button mat-button>
                <span class="contactUs">contáctenos</span>
            </button>
        </div>
        <div>
            <span class="v3">|</span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>