<div class="position" fxLayout="row">
    
    <app-header></app-header>
    <app-status-proceeding></app-status-proceeding>
    <app-subheader> </app-subheader>
    <app-info-services></app-info-services>
    <app-info-news></app-info-news>
    <app-about-us></app-about-us>
    <app-counting></app-counting>
    <app-online-service></app-online-service>
    <app-branchs-info></app-branchs-info>
    <app-frec-questions></app-frec-questions>
    <app-contact-us></app-contact-us>
    <app-base></app-base>
</div>

<router-outlet></router-outlet>