<div mat-dialog-actions class="pos1">
  <mat-icon class="bClose" (click)="onNoClick()">clear</mat-icon>
</div> 
<h1 mat-dialog-title class="item3"> {{data.tittle}}</h1>

<div mat-dialog-title>
  <p class="item2"> Persona Natural <mat-icon>icon</mat-icon> Persona Juridica </p>
</div>
<br>
<br>
<div mat-dialog-content style="height:90px;">
  <form>
    <mat-form-field appearance="legacy" style="width:429px;">
      <mat-label class="label">Nombre y Apellidos</mat-label>
      <input matInput type="text" class="label">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-content style="height:90px;">
  <form>
    <mat-form-field appearance="legacy" style="width:429px;">
      <mat-label class="label">Pais</mat-label>
      <input matInput type="text" class="label">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-content style="height:90px;">
  <form>
    <mat-form-field appearance="legacy" style="width:429px;">
      <mat-label class="label">Telefono</mat-label>
      <input matInput type="text" class="label">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-content style="height:90px;">
  <form>
    <mat-form-field appearance="legacy" style="width:429px;">
      <mat-label class="label">Correo</mat-label>
      <input matInput type="text" class="label">
    </mat-form-field>
  </form>
</div>

<div mat-dialog-content>
  <form>
    <mat-form-field appearance="legacy" style="width:429px; height: 180px;"> 
      <mat-label class="label">Mensaje</mat-label>
      <textarea matInput type="text" class="label1" style="height: 100px;"> </textarea>
  </mat-form-field>    
  </form>
</div>

<div mat-dialog-actions>
  <p style="width:150px;"></p>
  <p>
  <button mat-button class="b">
      <span class="send">ENVIAR</span>
  </button>  
  </p>
</div>