<span class="imgBack"></span>
<div class="box">
    
</div>
<div class="title">{{"Status.title" | translate}}</div>
<div class="descriptionTittle">
    <!-- <nav>
        <ul>
            <li>
                <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page" color="white">
                    {{"Status.description1" | translate}}
                </a>
            </li>
        </ul>
    </nav> -->

    <span> <u routerLink="/register" routerLinkActive="active-list-item" ariaCurrentWhenActive="page">{{"Status.description1" | translate}}</u>  {{"Status.description2" | translate}}</span>
    <br>
    <br>

    <button mat-button>
        <span class="viewStatus">{{"Status.see" | translate}}</span>
        <!--<mat-icon class>keyboard_arrow_right</mat-icon> -->
        <mat-icon>arrow_right</mat-icon>
    </button> 
</div>