<span class="v1"></span>
<span class="tittle">{{'subheader.news' | translate}}</span>
<span class="v2"></span>

<span class="date1">noticia • jun 13, 2022 </span>
<span class="date2">noticia • jun 13, 2022 </span>

<span class="v3"></span>
<span class="v4"></span>

<span class="img1"></span>
<span class="img2"></span>

<span class="tittle1">Jornada científica técnica nacional, en saludo al aniversario 36 de CJI y al día del jurista.</span>
<span class="desc1">El Día del jurista cubano es celebrado cada 8 de junio, para recordar que en igual fecha de 1865, Ignacio Agramonte desarrolló su Tesis de Grado para recibirse como licenciado de la Facultad de Derecho...</span>

<button mat-button class="seeMore1">
    <span>{{'services.readMore' | translate}}</span>
    <mat-icon>arrow_right</mat-icon>
</button> 

<span class="tittle2">Celebra MINSAP Día del jurista en CECMED</span>
<span class="desc2">El Día del jurista cubano es celebrado cada 8 de junio, para recordar que en igual fecha de 1865, Ignacio Agramonte desarrolló su Tesis de Grado para recibirse como licenciado de la Facultad de Derecho.</span>

<button mat-button class="seeMore2">
    <span>{{'services.readMore' | translate}}</span>
    <mat-icon>arrow_right</mat-icon>
</button> 


<button mat-button class="button" routerLink="/allNews" routerLinkActive="active" ariaCurrentWhenActive="page">
    <span>{{'services.seeMore' | translate}}</span>
</button> 

<router-outlet></router-outlet>