<span class="rectangle2"></span>
<span class="rectangle"></span>
<span class="tittle">{{'subheader.aboutUs' | translate}}</span>
<span class="v1"></span>
<span class="v2"></span>
<span class="desc">{{'counting.about' | translate}}</span>

<button mat-button class="button">
    <span>{{'services.knowMore' | translate}}</span>
</button> 

<span class="tittle2">{{'subheader.contactI' | translate}}</span>
<span class="v3"></span>
<span class="v4"></span>

<span class="logo1"></span>
<span class="logo2"></span>
<span class="logo3"></span>
<span class="logo4"></span>
<span class="logo5"></span>